/* General Styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #ffffff;
    text-align: center;
    flex-direction: column;
    padding: 20px;
}

/* Container */
.container {
    width: 100%;
    max-width: 400px;
}

/* Icon */
.icon {
    font-size: 60px;
    margin-bottom: 20px;
}

.icon img {
    width: 100%;
    max-width: 350px;
    height: auto;
}

/* Text */
.title {
    font-size: 22px;
    font-weight: bold;
    margin-bottom: 10px;
}

.subtitle {
    font-size: 14px;
    color: gray;
    margin-bottom: 30px;
}

/* Dots */
.dots {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.dot {
    width: 8px;
    height: 8px;
    margin: 0 5px;
    border-radius: 50%;
    background-color: lightgray;
}

.dot.active {
    background-color: black;
}

/* Next Button */
.next-button {
    position: absolute;
    bottom: 20px;
    right: 50px;
    background-color: yellow;
    color: black;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 18px;
    cursor: pointer;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    transition: background-color 0.3s;
}

.next-button a {
    text-decoration: none;
    color: black; /* Ensure the link text is black */
}

.next-button:hover {
    background-color: #87CEEB;
}

.next-button a:hover {
    color: white;
}

/* Responsive Styles */
@media (max-width: 768px) {
    .title {
        font-size: 18px;
        margin-left: 3%;
        margin-right: 3%;
    }

    .subtitle {
        font-size: 12px;
        margin-left: 5%;
        margin-right: 5%;
    }

    .icon img {
        max-width: 200px;
    }

    .next-button {
        font-size: 14px;
        padding: 6px 12px;
    }
}
