/* General Styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #ffffff;
    text-align: center;
    padding: 20px;
}

/* Container */
.container {
    width: 100%;
    max-width: 400px;
}

/* Image */
.image-container img {
    width: 100%;
    max-width: 300px;
    height: auto;
}

/* Text */
h2 {
    font-size: 24px;
    margin: 20px 0 10px;
}

p {
    font-size: 16px;
    color: #555;
    margin-bottom: 20px;
}

/* Dots */
.dots {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.dot {
    width: 10px;
    height: 10px;
    margin: 0 5px;
    background-color: #ccc;
    border-radius: 50%;
}

.dot.active {
    background-color: #000;
}

/* Next Button */
.next-button {
    position: absolute;
    bottom: 20px;
    right: 50px;
    background-color: yellow;
    color: black;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 18px;
    cursor: pointer;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    transition: background-color 0.3s;
}

.next-button a {
    text-decoration: none;
    color: black; /* Ensure the link text is black */
}

.next-button:hover {
    background-color: #87CEEB;
}

.next-button a:hover {
    color: white;
}

/* Responsive Styles */
@media (max-width: 768px) {
    h2 {
        font-size: 20px;
    }

    p {
        font-size: 14px;
        padding: 0 10px;
    }

    .image-container img {
        max-width: 250px;
    }

    .next-button {
        font-size: 14px;
        padding: 6px 12px;
    }
}
