*css*



body {
    background-color: #f4f4f9;
    color: #333;
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 0;
    padding: 0;
}

.header {
    display: flex;
    align-items: center;
    padding: 30px;
    font-size: 22px;
    font-weight: bold;
    background-color: #006171;
    color: white;
}

.header a {
    text-decoration: none;
    color: white;
    margin-left: 10%;
}

.back-arrow {
    font-size: 35px;
    cursor: pointer;
    margin-right: 10px;
}

.container {
    max-width: 400px;
    margin: 20px auto;
    padding: 20px;
}

.profile-container {
    position: relative;
    display: inline-block;
    margin-bottom: 30px;
    margin-top: 40px;
}

.profile-image {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
    border: 3px solid #ddd;
}

.full-name-display {
    font-size: 18px;
    font-weight: bold;
    margin-top: 10px;
    text-transform: uppercase;
}

.camera-icon {
    position: absolute;
    bottom: 5px;
    right: 5px;
    background-color: #006171;
    width: 35px;
    height: 35px;
    color: #fff;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    box-shadow: 0px 4px 6px rgba(255, 255, 255, 0.2);
}

input[type="file"] {
    display: none;
}

.profile-info {
    text-align: left;
    margin-top: 10px;
}

.field {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 12px;
    margin: 10px 0;
    border-radius: 8px;
    transition: background 0.3s;
    background: #ecf0f3;
}

.field input, .field select {
    background: transparent;
    border: none;
    color: #000;
    width: 100%;
    font-size: 16px;
    padding: 10px;
    border-radius: 8px;
    box-shadow: inset 6px 6px 10px #cbced1, inset -6px -6px 10px #ffffff;
}

.field input:disabled, .field select:disabled {
    background: #f4f4f9;
    color: #000;
}

.edit-button, .save-button {
    width: 100%;
    padding: 15px;
    margin-top: 20px;
    border: none;
    background: #fff9e6;
    color: black;
    font-size: 16px;
    border-radius: 50px;
    cursor: pointer;
    box-shadow: 3px 3px 8px #cbced1, -3px -3px 8px #ffffff;
    transition: all 0.3s ease;
}

.edit-button:hover {
    background: #87CEEB;
}

.save-button {
    background: #006171;
    color: white;
}

.save-button:hover {
    background: #06adc6;
}

@media screen and (max-width: 768px) {
    .header {
        padding: 10px;
        font-size: 18px;
    }

    .header a {
        margin-left: 5%;
        font-size: 20px;
    }

    .profile-container {
        margin-top: 20px;
    }

    .profile-image {
        width: 120px;
        height: 120px;
    }

    .camera-icon {
        width: 30px;
        height: 30px;
    }

    .field input, .field select {
        font-size: 14px;
    }

    .edit-button, .save-button {
        font-size: 14px;
        padding: 12px;
    }
}
